@import "tailwindcss";

@theme {
  --font-sans: "Pretendard Variable", "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
  --color-primary: #FF6900;
  --color-primary-hover: #FF8C33;
  --color-primary-dark: #CC5400;
  --color-primary-light: #FFF3E6;
}
